################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/BackMakerHub/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/BackMakerHub/CopilotIndices/17.14.1368.60722
/.vs/BackMakerHub/DesignTimeBuild
/.vs/BackMakerHub/FileContentIndex
